<div>
  <div>
    <h1>
      List of all clubs
    </h1>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>

        <th>
          Club name
        </th>

        <th>
          Country
        </th>

        <th>
          Logo
        </th>

        <th>
          Founding year
        </th>

        <th>
          Stadium
        </th>

      </tr>

      <% @list_of_clubs.each do |a_club| %>
      <tr>

        <td>
          <%= a_club.club_name %>
        </td>

        <td>
          <%= a_club.country %>
        </td>

        <td>
          <%= a_club.logo %>
        </td>

        <td>
          <%= a_club.founding_year %>
        </td>

        <td>
          <%= a_club.stadium_id %>
        </td>

        <td>
          <a href="/clubs/<%= a_club.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
