<center>
<div>
  <div>
    <h1>
      Clubs
    </h1>
  </div>
</div>
<br/>
<div>
  <div>
   <div class="container">
    <div class="row">
    <div class="col-md-12">
<table class="table text-center table-bordered">
  <thead class="thead-dark">
    <tr scope="col" style="background-color:#C0C0C0">
      <th scope="col">Club Name</th>
      <th scope="col">Country</th>
      <th scope="col">Founding Year</th>
      <th scope="col">Stadium</th>
      <th scope="col">Details</th>
    </tr>
  </thead>
  <tbody>
  <% @list_of_clubs.order(:id).reverse_order.each do |a_club| %>
    <tr>
      <td><%= a_club.club_name %></td>
      <td><%= a_club.country %></td>
      <td><%= a_club.founding_year %></td>
      <td><%= a_club.stadium %></td>
      <td>
          <a href="/clubs/<%= a_club.id %>">
            <%= a_club.club_name %>'s details
          </a></td>
      </td>
    </tr>
  </tbody>
  <% end %>
</table> 
</div>
<br/>
<center><img src="https://upload.wikimedia.org/wikipedia/en/thumb/b/bf/UEFA_Champions_League_logo_2.svg/1920px-UEFA_Champions_League_logo_2.svg.png" class="rounded" height="200"></center>
