  <div>
  <div>
    <form class="d-flex" role="search" action="/clubs">
      <button class="btn btn-outline-dark" type="submit" > Go back</button>
    </form>
  </div>
</div>

<center>
  <h2>
      <%= @the_club.club_name %>'s details
  </h2>
</center>

<!-- Section: Design Block -->
<section class="text-center text-lg-start">
  <style>
    .cascading-right {
      margin-right: -650px;
    }

    @media (max-width: 991.98px) {
      .cascading-right {
        margin-right: 0;
      }
    }
  </style>

 <!-- Jumbotron -->
  <div class="container py-4">
    <div class="row g-0 align-items-center">
      <div class="col-lg-6 mb-5 mb-lg-0">
        <div class="card cascading-right" style="
            background: hsla(0, 0%, 100%, 0.55);
            backdrop-filter: blur(30px);
            ">
  <center>
  <div>
  

    <div>
    <br/>
    <dl>
      <dd>
        <img src="<%= @the_club.logo %>" height="300">
      </dd>
      <hr>

      <dt>
        Country
      </dt>
      <dd>
        <%= @the_club.country %>
      </dd>
      
      <dt>
        Founding year
      </dt>
      <dd>
        <%= @the_club.founding_year %>
      </dd>
      <dt>
        Stadium
      </dt>
      <dd>
        <%= @the_club.stadium %>
      </dd>

    </dl>
  </div>
</div>

<hr>

<% if @current_user != nil %>
<div>
  <div>
    <h2>
      Edit club
    </h2>
  
    <form action="/modify_club/<%= @the_club.id %>"  method="post" >
      <div>
        <label for="club_name_box">
          Club name
        </label>
      
        <input type="text" id="club_name_box" name="query_club_name" value="<%= @the_club.club_name %>">
      </div>

      <div>
        <label for="founding_year_box">
          Founding Year
        </label>

        <input type="text" id="founding_year_box" name="query_founding_year" value="<%= @the_club.founding_year %>">
      </div>

      <div>
        <label for="stadium_id_box">
          Stadium
        </label>

        <input type="text" id="stadium_id_box" name="query_stadium" value="<%= @the_club.stadium %>">
      </div>

      <div>
        <label for="country_box">
          Country
        </label>

        <input type="text" id="country_box" name="query_country" value="<%= @the_club.country %>">
      </div>
      <br/>
      <button type="submit" class="btn btn-dark btn-block mb-4">
        Update club
      </button>
      
    </form>
  </div>
</div>
<% else %>
<h5>Sign-in to edit the club's details</h5>
<% end %>
