<div>
  <div>
    <h1>
      List of all seasons
    </h1>
  </div>
</div>

Select Season
  <select name="query_season_year">
    <%= Season.all.order(:season_year => :desc).each do |a_season| %>
      <option value="<%= a_season.id %>">
        <%= a_season.season_year %>
      </option>
    <% end %>
  </select>
  
<hr>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Season Year</th>
      <th scope="col">Winner</th>
      <th scope="col">Stadium</th>
      <th scope="col">Top Scorer</th>
      <th scope="col">Details</th>
    </tr>
  </thead>
  <tbody>
  <% @list_of_seasons.each do |a_season| %>
    <tr>
      <td><%= a_season.season_year %></td>
      <td><%= a_season.winner_id %></td>
      <td><%= a_season.stadium_id %></td>
      <td><%= a_season.top_scorer_id %></td>
      <td>
        <a href="/seasons/<%= a_season.id %>">
          Show details
        </a>
      </td>
    </tr>
  </tbody>
  <% end %>
</table>      
</div>
