<center>
<div>
  <div>
    <h1>
      <%= @current_user.first_name %>'s Favorite clubs
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a club
    </h2>
    <br/>

    <form action="/insert_bookmark" method="post">
      <div>
        <label for="club_id_box">
          <h5>Club</h5>
        </label>

        <select name="query_club_id">
          <%= Club.all.order(:club_name).each do |a_club| %>
            <option value="<%= a_club.id %>">
              <%= a_club.club_name %>
            </option>
          <% end %>
        </select>

      </div>
      <br>

      <button type="submit" class="btn btn-dark btn-block mb-4">
        Add to favorites!
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div class="col-md-4">
    <table class="table align-middle table-bordered">
      <tr scope="col" style="background-color:#C0C0C0">
        <th>
          Club
        </th>

        <th>
          Added at
        </th>

        <th>
          Delete from favorites
        </th>

      </tr>

      <% @list_of_bookmarks.each do |a_bookmark| %>
      <tr>

        <td>
          <%= a_bookmark.club.club_name %>
        </td>

        <td>
          <%= time_ago_in_words(a_bookmark.created_at) %> ago
        </td>

        <td>
          <a href="/delete_bookmark/<%= a_bookmark.id %>">
            Un-bookmark
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>

<img src="https://upload.wikimedia.org/wikipedia/en/thumb/b/bf/UEFA_Champions_League_logo_2.svg/1920px-UEFA_Champions_League_logo_2.svg.png" class="rounded" height="200">

