
<center><div>
  <div>
    <h1>
      List of all top scorers
    </h1>
  </div>
</div>
<br/>
  <div>
  <div class="container">
    <div class="row">
    <div class="col-md-12">
<table class="table text-center table-bordered">
  <thead class="thead-dark">
      <tr scope="col" style="background-color:#C0C0C0">
        <th scope="col">Season Year</th>
        <th scope="col">Player Name</th>
        <th scope="col">Club Name</th>
        <th scope="col">Number of Goals</th>
        <th scope="col">Player's Details</th>
      </tr>
    </thead>
    <tbody>
    <% @list_of_top_scorers.order(:season_id => :desc).each do |a_top_scorer| %>
      <tr>
        <td><%= a_top_scorer.seasons.first.season_year %></td>
        <td><%= a_top_scorer.player_name %></td>
        <td><%= a_top_scorer.club.club_name %></td>
        <td><%= a_top_scorer.number_of_goals %></td>
        <td>
            <a href="/top_scorers/<%= a_top_scorer.id %>">
              <%= a_top_scorer.player_name %>'s details
            </a>
        </td>
      </tr>
    </tbody>
    <% end %>
  </table> 
  </div>
  <br/>
<center><img src="https://upload.wikimedia.org/wikipedia/en/thumb/b/bf/UEFA_Champions_League_logo_2.svg/1920px-UEFA_Champions_League_logo_2.svg.png" class="rounded" height="200"></center>
