<div>
  <form class="d-flex" role="search" action="/top_scorers">
    <button class="btn btn-outline-dark" type="submit" >Go back</button>
  </form>
</div>
<div>
  <div>
    <h2>
      <%= @the_top_scorer.player_name %>
    </h2>

    <dl>
      <dt>
        Player name
      </dt>
      <dd>
        <%= @the_top_scorer.player_name %>
      </dd>

      <dt>
        Number of goals
      </dt>
      <dd>
        <%= @the_top_scorer.number_of_goals %>
      </dd>

      <dt>
        Season
      </dt>
      <dd>
        <%= @the_top_scorer.seasons.first.season_year %>
      </dd>

      <dt>
        Player image
      </dt>
      <dd>
        <img src="<%= @the_top_scorer.player_image %>"class="rounded" height="300"width="200"></td>
      </dd>

      <dt>
        Club
      </dt>
      <dd>
        <%= @the_top_scorer.club.club_name %>
      </dd>

    </dl>
  </div>
</div>
