<div>
  <form class="d-flex" role="search" action="/top_scorers">
    <button class="btn btn-outline-dark" type="submit" >Go back</button>
  </form>
</div>

  <center>
    <h2>
      <%= @the_top_scorer.player_name %>
    </h2>
  </center>

<!-- Section: Design Block -->
<section class="text-center text-lg-start">
  <style>
    .cascading-right {
      margin-right: -650px;
    }

    @media (max-width: 991.98px) {
      .cascading-right {
        margin-right: 0;
      }
    }
  </style>

 <!-- Jumbotron -->
  <div class="container py-4">
    <div class="row g-0 align-items-center">
      <div class="col-lg-6 mb-5 mb-lg-0">
        <div class="card cascading-right" style="
            background: hsla(0, 0%, 100%, 0.55);
            backdrop-filter: blur(30px);
            ">
  <center>

    <dl>
    <br/>

      <dd>
        <img src="<%= @the_top_scorer.player_image %>"class="rounded" height="300"width="200"></td>
      </dd>

      <hr>

      <dt>
        Number of goals
      </dt>
      <dd>
        <%= @the_top_scorer.number_of_goals %>
      </dd>

      <dt>
        Season
      </dt>
      <dd>
        <%= @the_top_scorer.seasons.first.season_year %>
      </dd>

      <dt>
        Club
      </dt>
      <dd>
        <%= @the_top_scorer.club.club_name %>
      </dd>
    </dl>
  </div>
</div>
