<div>
  <div>
    <h1>
      List of all final stadium
    </h1>
  </div>
</div>

  <div>
  <table class="table align-middle table-bordered">
    <thead>
      <tr>
        <th scope="col">Stadium Name</th>
        <th scope="col">City</th>
        <th scope="col">Stadium Image</th>
        <th scope="col">Capacity</th>
        <th scope="col">Season</th>
        <th scope="col">Details</th>
      </tr>
    </thead>
    <tbody>
      <% @list_of_final_stadia.order(:season_id => :desc).each do |a_final_stadium| %>
      <tr>
        <td><%= a_final_stadium.stadium_name %></td>
        <td><%= a_final_stadium.city %></td>
        <td><img src="<%= a_final_stadium.stadium_image %>"class="rounded" height="200"width="350"></td>
        <td><%= a_final_stadium.number_of_seats %></td>
        <td><%= a_final_stadium.season_id %></td>
        <td>
            <a href="/final_stadia/<%= a_final_stadium.id %>">
            Show details
          </a>
        </td>
      </tr>
    </tbody>
    <% end %>
  </table> 
  </div>
