<div>
  <form class="d-flex" role="search" action="/final_stadia">
    <button class="btn btn-outline-dark" type="submit" >Go back</button>
  </form>
</div>
<div>

<center>
  <h2>
    <%= @the_final_stadium.stadium_name %>
  </h2>
</center>

<!-- Section: Design Block -->
<section class="text-center text-lg-start">
  <style>
    .cascading-right {
      margin-right: -650px;
    }

    @media (max-width: 991.98px) {
      .cascading-right {
        margin-right: 0;
      }
    }
  </style>

 <!-- Jumbotron -->
  <div class="container py-4">
    <div class="row g-0 align-items-center">
      <div class="col-lg-6 mb-5 mb-lg-0">
        <div class="card cascading-right" style="
            background: hsla(0, 0%, 100%, 0.55);
            backdrop-filter: blur(30px);
            ">
  <center>

  <div>
  <br/>

    <dd>
      <img src="<%= @the_final_stadium.stadium_image %>" class="rounded" height="400">
    </dd>

    <hr>

    <dl>
      <dt>
        City
      </dt>
      <dd>
        <%= @the_final_stadium.city %>
      </dd>

      <dt>
        Capacity
      </dt>
      <dd>
        <%= @the_final_stadium.number_of_seats %>
      </dd>

      <dt>
        Season
      </dt>
      <dd>
        <td><%= @the_final_stadium.seasons.first.season_year %></td>
      </dd>

    </dl>
  </div>
</div>
