<div>
  <div>
    <h1>
      Final stadium #<%= @the_final_stadium.id %> details
    </h1>

    <div>
      <div>
        <a href="/final_stadia">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_final_stadium/<%= @the_final_stadium.id %>">
          Delete final stadium
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Stadium name
      </dt>
      <dd>
        <%= @the_final_stadium.stadium_name %>
      </dd>

      <dt>
        City
      </dt>
      <dd>
        <%= @the_final_stadium.city %>
      </dd>

      <dt>
        Stadium image
      </dt>
      <dd>
        <img src="<%= @the_final_stadium.stadium_image %>"height="200">
      </dd>

      <dt>
        Number of seats
      </dt>
      <dd>
        <%= @the_final_stadium.number_of_seats %>
      </dd>

      <dt>
        Season
      </dt>
      <dd>
        <%= @the_final_stadium.season_id %>
      </dd>

    </dl>
  </div>
</div>
