<div>
  <form class="d-flex" role="search" action="/final_stadia">
    <button class="btn btn-outline-dark" type="submit" >Go back</button>
  </form>
</div>
<div>
  <div>
    <h2>
      <%= @the_final_stadium.stadium_name %>
    </h2>

    <dl>
      <dt>
        City
      </dt>
      <dd>
        <%= @the_final_stadium.city %>
      </dd>

      <dt>
        Stadium image
      </dt>
      <dd>
        <img src="<%= @the_final_stadium.stadium_image %>" class="rounded" height="400">
      </dd>

      <dt>
        Capacity
      </dt>
      <dd>
        <%= @the_final_stadium.number_of_seats %>
      </dd>

      <dt>
        Season
      </dt>
      <dd>
        <td><%= @the_final_stadium.seasons.first.season_year %></td>
      </dd>

    </dl>
  </div>
</div>
